.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery > div > img {
    display: block;
    margin: auto;
}

.info {
    width: 250px;
    text-align: center;
}
